.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* client/src/App.css */
div,
button {
  margin: 10px;
}

.spotify-login-btn {
  background: #84bd00;
  border-radius: 400px;
  height: 48px;
  margin: 8px;
  padding: 13px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  text-decoration: none;
  box-sizing: border-box;
}
