
matrix:
  include:
    - language: node_js
    node_js:
      - "stable"
  before_script:
    - cd client
cache:
  directories:
    - node_modules
script:
  - npm test
  - npm run build

  - language: node_js
      node_js:
        - "node"
      before_script:
        - cd server
        - npm install
      cache:
        directories:
          - "node_modules"
      script:
        - npm test
        - npm run coverage
