matrix:
  include:
    - language: node_js
      node_js:
        - "8"
      before_script:
        - cd client
        - npm install
      cache:
      directories:
        - "node_modules"
      script:
        - npm run test
        - npm run build
      deploy:
        provider: heroku
        api_key: 2cf6dfc5-aacd-4490-b010-426387dab4bb
        app: client
    - language: node_js
      node_js:
        - "8"
      before_script:
        - cd server
        - npm install
      cache:
      directories:
        - "node_modules"
      deploy:
        provider: heroku
        api_key: 2cf6dfc5-aacd-4490-b010-426387dab4bb
        app: server
