matrix:
  include:
  - language: node_js
    node_js:
    - '8'
    before_script:
    - cd client
    - npm install
    cache:
    directories:
    - node_modules
    script:
    - npm run test
    - npm run build
    deploy:
      provider: heroku
      api_key:
        secure: ClEZzwxEY2B2HGVrFDV37qqm9F4o5f04UMAUQbv5LI8QHJv+RzHTWeH3tJ3HE5KC+W5fffm+GLayzXX6jONoWUeg55Bx6mWBszpxoTso83Qipk4756d8cyJlR6LSntq6GSwb2j+C4E5WMrDUXKXHObD2sOaCuZ6s5CUHP/SoU2b1VNDQqznOU0h5cjDiTuCiW1Oe4PhNEGoi3LQfzrK2mZW7BJCIEzULUxGbGYz0CyJ2+fXbBfBjrXPLWQugpZhhid/OiJb5ugQMGUJKAnx/30TuatVufAAG1GWnCDsUVBIXotQRauItKs1nGXvNSnnBP2UxdSNk8awzQQU7IyTHVrBPi4/C8888ZcKT654Zf77fm+dzHi9dqku5PcpQxCjXR6awyvr8lplbLtX/ig9Szi/eha3wiOfHqU6Fr1LX6lbht1HqbgmaFwIdh39BM9LhRHoy+OpolgTaTvgoeXhF/G3F1l6vsn7ctwt4uLcbzQE0hc1hA6l2EaTBriKSsKSqwTqXG9rG+WYvtQvpTWoAiAm2fy9zL6kG78JdABWG8LfaAnbK143kJ3u0PaG9M3a1/9HMnW3DUY0NnuCS/gNVqF0rNcluLNlCXh3iRvWVaz9nVuDdtRLs8l6ULGDO0C9cHn39UjoEp5Wr0B/UxVCeiJ+tpHZ/ODFt1ulhgAE9qik=
      app: radioroom1
  - language: node_js
    node_js:
    - '8'
    before_script:
    - cd server
    - npm install
    cache:
    directories:
    - node_modules
    script:
    - cd authorization_code
    - node app.js &
    - npm run test
    deploy:
      provider: heroku
      api_key:
        secure: ClEZzwxEY2B2HGVrFDV37qqm9F4o5f04UMAUQbv5LI8QHJv+RzHTWeH3tJ3HE5KC+W5fffm+GLayzXX6jONoWUeg55Bx6mWBszpxoTso83Qipk4756d8cyJlR6LSntq6GSwb2j+C4E5WMrDUXKXHObD2sOaCuZ6s5CUHP/SoU2b1VNDQqznOU0h5cjDiTuCiW1Oe4PhNEGoi3LQfzrK2mZW7BJCIEzULUxGbGYz0CyJ2+fXbBfBjrXPLWQugpZhhid/OiJb5ugQMGUJKAnx/30TuatVufAAG1GWnCDsUVBIXotQRauItKs1nGXvNSnnBP2UxdSNk8awzQQU7IyTHVrBPi4/C8888ZcKT654Zf77fm+dzHi9dqku5PcpQxCjXR6awyvr8lplbLtX/ig9Szi/eha3wiOfHqU6Fr1LX6lbht1HqbgmaFwIdh39BM9LhRHoy+OpolgTaTvgoeXhF/G3F1l6vsn7ctwt4uLcbzQE0hc1hA6l2EaTBriKSsKSqwTqXG9rG+WYvtQvpTWoAiAm2fy9zL6kG78JdABWG8LfaAnbK143kJ3u0PaG9M3a1/9HMnW3DUY0NnuCS/gNVqF0rNcluLNlCXh3iRvWVaz9nVuDdtRLs8l6ULGDO0C9cHn39UjoEp5Wr0B/UxVCeiJ+tpHZ/ODFt1ulhgAE9qik=
      app: radioroomserver
